@import url(include.css);


button:not(.faq-question) {
    padding: 0.8em;
    color: var(--primary-background-color);
    border: none;
    padding: 0.5em;
    border-radius: 2em;
}
button:not(.red):not(.faq-question) {
    background-color: var(--accent-color);
}

button.red {
    background-color: var(--error-color);
}

button#ticket-open-button, button#department-add-button, button#department-remove-button {
    margin-top: 1em;
    padding: 1em;
    width: 100%;
    min-width: 15em;
    position: relative;
    right: 0;
}
