
button:not(.faq-question):not(.ticket-page-submit):not(.user-page-submit):not(.profile-submit) {
    padding: 0.8em;
    color: var(--primary-background-color);
    border: none;
    padding: 0.5em;
    border-radius: 2em;
}
button:not(.red):not(.faq-question):not(.ticket-page-submit):not(.user-page-submit):not(.profile-submit) {
    background-color: var(--accent-color);
}

button.red {
    background-color: var(--error-color);
}

div.big-button {
    margin-top: 1em;
    width: 100%;
    text-align: center;
}

button#ticket-open-button, button#department-add-button, button#department-remove-button {
    width: 50%;
    min-width: 15em;
    padding: 1em;
}

button.ticket-page-submit, button.user-page-submit {
    background-color: transparent;
    border: none;
    color: var(--accent-color);
    font-size: 1rem;
    padding: 0;
    width: 100%;
    text-align: left;
}
button.profile-submit {
    background-color: transparent;
    border: none;
    font-size: 4rem;
    padding: 0;
}
form.profile-form {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}

form.ticket-page-form, form.user-page-form, form.profile-form {
    margin-block-end: 0;
}
