
.ticket-history-change {
    position: relative;
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 0.8rem;
    white-space: nowrap;
    border: 2px solid var(--secondary-background-color);
    border-radius: 1rem;
}
.ticket-history-type {
    font-size: 2rem;
}
.ticket-history-date {
    font-size: 0.8rem;
    color: var(--unselected-color);
}

.ticket-history-info {
    margin-bottom: 0.25em;
}

.ticket-history-info div.priority, .ticket-history-info div.status {
    display: inline;
}

.ticket-history-before, .ticket-history-after {
    color: var(--primary-color);
}

.ticket-history-before.ticket-history-none,
.ticket-history-after.ticket-history-none {
    color: var(--unselected-color);
}