.comment {
    border-radius: 2em;
    font-size: 1em;
    background-color: transparent;
    margin-bottom: 10;
}
.comment-header {
    display: flex;
    position: relative;
}
.comment-item {
    padding: 1rem;
}
#user {
    font-weight: 800;
    padding-right: 0;
}
#publish-date{
    padding-left: 0;
}
.comment-text {
    overflow-wrap: break-word ;
}
form.comment-remove {
    margin-block-end: 0;
    position: absolute;
    right: 0;
}
form#comment-add > * {
    font-size: 1em;
}

form#comment-add > textarea {
    font-family: 'Inter', sans-serif;
    padding: 0.5em;
    border-radius: 1em;
    resize: none;
    width: 100%;
    margin-block-end: 0.4em;
}

.comment-header > .comment-item.date {
    color: var(--unselected-color);
}