@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* Color Pallete */
    --primary-background-color: #ffffffff;
    --secondary-background-color: #d7d7d7ff;
    --primary-color: #262b2dff;
    --secondary-color: #5c9599ff;
    --accent-color: #1aa193ff;
    --error-color: #ce5050ff;
    --warning-color: #ddc54fff;
    --success-color: #2ab75bff;
    --unselected-color: #a0a0a0ff;

    /* General Constants */
    --header-height: 5em;
    --footer-height: 2em;

    --sidebar-width: 14em;
    --sidebar-mobile-width: 3em;
    --sidebar-padding: 15px;

    --margin-sides: 10em;
}
