
#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
}

#popup-darken {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #00000066;
    z-index: 10;
}

#popup-form {
    text-align: center;
    display: none;
    position: fixed;
    top: 25vh;
    left: 40vw;
    width: 20vw;
    min-width: 15rem;
    padding: 0 0.5em;
    background-color: var(--primary-background-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 0.6em;
    z-index: 11;
}
#popup-form button {
    padding: 1em;
    min-width: 6em;
}

#popup-form button.red {
    width: auto;
    margin-bottom: 1em;
}

.popup-item {
    position: relative;
    display: block;
    padding: 0.5em;
    width: calc(100% - 1em);
}
.popup-item > * {
    display: inline;
    padding: 0.5em;
    width: 100%;
}
.popup-item.filter-item {
    text-align: left;
}

.popup-item > input[type='checkbox'].filter-item {
    position: absolute;
    right: 60%;
    width: auto;
    text-align: right;
}
label.filter-item {
    position: relative;
    left: 40%;
}

#popup-form input[type='text'], #popup-form textarea {
    font-size: 1rem;
}

#popup-form textarea {
    font-family: 'Inter', sans-serif;
    resize: none;
    height: 6em;
}

/*Department filters*/
#popup-item-filter{
    margin: auto;
    width:40%;
    white-space: nowrap;
}
.popup-item-filter-item  {
    text-align: left;
    display: block;
}
.popup-item-filter-item *  {
    left: 0;
    display: inline-block;
}
.popup-item-filter-item label  {
    left: 0;
}
#filter-title{
    font-weight: 600;
}
#filter-checkmark {
    accent-color: var(--accent-color);
}
