
#user-search {
    font-size: 1rem;
    padding: 0.5em;
    border-radius: 2em;
    border: 2px solid var(--secondary-background-color);
    width: 100%;
}

#department-search {
    font-size: 1rem;
    padding: 0.5em;
    border-radius: 2em;
    border: 2px solid var(--secondary-background-color);
    width: calc(100% - 3rem);
}
#department-filters {
    padding: 0.8em;
}

#user-search::-webkit-search-cancel-button, #department-search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50em;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
}
#user-search:focus::-webkit-search-cancel-button, #department-search:focus::-webkit-search-cancel-button {
    opacity: .3;
    pointer-events: all;
  }