@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* Color Pallete */
    --primary-background-color: #dededeff;
    --secondary-background-color: #c4c3c7ff;
    --primary-color: #262b2dff;
    --secondary-color: #4c6569ff;
    --accent-color: #1aa193ff;
    --error-color: #ce5050ff;
    --warning-color: #cfbd63ff;;
    --success-color: #51d880ff;

    /* General Constants */
    --header-height: 5rem;
    --footer-height: 3rem;

    --sidebar-width: 14rem;
    --sidebar-padding: 15px;

    --margin-sides: 10rem;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--primary-background-color);
    color: var(--primary-color);
}

.page {
    width: calc(100% - 2 * var(--margin-sides));
    margin: 0 var(--margin-sides);
}

/* HYPERLINK STYLE */
a {
    color: var(--accent-color);
    text-decoration: none;
}

/* HEADER STYLE */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    font-size: 3em;
    border-bottom: 2px solid var(--secondary-background-color);
    z-index: 2;
}
#logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-weight: 600;
}
#logo-highlight {
    color: var(--accent-color);
}

#profile {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

/* FOOTER STYLE */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--footer-height);
    font-size: 1em;
    border-top: 2px solid var(--secondary-background-color);
    z-index: 2;
    text-align: center;
}
#footer-info {
    position: relative;
    top: 1em;
    font-size: large;
}

/* SIDE BAR STYLE */
.sidebar {
    height: calc(100% - var(--header-height) - var(--footer-height) - 2 * var(--sidebar-padding));
    width: var(--sidebar-width);
    position: fixed;
    top: var(--header-height);
    left: 0;
    overflow-x: hidden;
    border-right: 2px solid var(--secondary-background-color);
    padding: var(--sidebar-padding) 0;
    z-index: 1;
}
.sidebar a {
    display: block;
    padding: 6px 10px;
    color: var(--primary-color);
    font-size: 1.4em;
}
.sidebar a:hover {
  color: var(--accent-color);
}
.sidebar a .icon {
    position: absolute;
    right: 70%;
    width: 30%;
    text-align: center;
}
.sidebar a .text {
    position: relative;
    left: 30%;
}
.sidebar a:last-child .icon, .sidebar a:last-child .text{
    position: absolute;
    bottom: var(--sidebar-padding);
    color: var(--error-color);
}

/* MAIN STYLE */
main {
    margin-top: var(--header-height);
    margin-bottom: var(--footer-height);
}
main.main-sidebar {
    margin-left: var(--sidebar-width);
}

/* FOR EVERYONE BELOW */
.register-item, .login-item, .update-item, #toasts {
    display: block;
    width: 30rem;
}
.register-item, .login-item, #toasts {
    margin: auto;
}
div.register-item, div.login-item, div.update-item {
    padding-top: 1em;
}
.title {
    font-size: 50px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* LOGIN AND REGISTER STYLE */
#register-title, #login-title {
    text-align: center;
}
.register-label, .login-label, .update-label {
    padding: 2px 1em;
}
#register input, #login input, #settings input {
    width: 100%;
    padding: 0.5em;
    border-radius: 2em;
    font-size: 1em;
    background-color: transparent;
    border: 2px solid var(--secondary-background-color);
}
#register input.button, #login input.button, #settings input.button {
    padding: 0.8em;
    color: var(--primary-background-color);
    background-color: var(--accent-color);
    border: none;
}

#register input[type=checkbox], #login input[type=checkbox], #settings input[type=checkbox] {
    width: auto;
    color: var(--error-color);
    margin-right: 10px;
    background-color: var(--error-color);
}

a.register-item, a.login-item {
    margin-top: 1em;
    padding-left: 1em;
}

/* TOAST STYLE */
div#toasts {
    margin-top: 2em;
}
div.toast {
    margin: 0.5em 0;
    padding: 0.5em;
    font-size: medium;
    border-radius: 2em;
}
div.toast.error {
    background-color: var(--error-color);
}
div.toast.warning {
    background-color: var(--warning-color);
}
div.toast.success {
    background-color: var(--success-color);
}
#caps-warning {
    display: none;
}


/* TICKET SYLE */
.ticket {
    position: relative;
    display: block;
    padding: 1em;
    border-radius: 2em;
    border: 2px solid var(--secondary-background-color);
    background-color: transparent;
}
.ticket > * {
    display: inline;
}
.ticket > .profile {
    position: relative;
    font-size: 2rem;
}
.ticket > .profile > .username{
    position: relative;
    bottom: 0.2rem;
    font-size: 1.3rem;
}   

/* ACCOUNT STYLE */
#account .profile {
    font-size: 8em;
}

#account {
    font-size: 2em;
}

.account-item {
    display: block;
    padding-bottom: 1em;
}

/* FAQ STYLE*/
.FAQ_question { 
    margin-bottom: 1rem;
    background-color: var(--secondary-background-color);
    padding: 1rem;
    transition: 0.4s;
    width: 100%;
    text-align: left;
    font-size: 1.4rem;
    color: var(--accent-color);
}
.FAQ_question:after {
    content: '\002B';
    float: right;
  }
.FAQ_Answer{
    padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
  .active:after {
    content: "\2212"; 
  }