@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* Color Pallete */
    --primary-background-color: #dededeff;
    --secondary-background-color: #c4c3c7ff;
    --primary-color: #262b2dff;
    --secondary-color: #4c6569ff;
    --accent-color: #1aa193ff;
    --error-color: #ce5050ff;

    /* General Constants */
    --header-height: 5rem;
    --footer-height: 3rem;

    --sidebar-width: 14rem;
    --sidebar-padding: 15px;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--primary-background-color);
    color: var(--primary-color);
}

/* HEADER STYLE */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    font-size: 3em;
    border-bottom: 2px solid var(--secondary-background-color);
    z-index: 2;
}
header .logo {
    position: absolute;
    top: 1rem;
    width: 100%;
    text-align: center;
}

/* FOOTER STYLE */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--footer-height);
    font-size: 1em;
    border-top: 2px solid var(--secondary-background-color);
    z-index: 2;
}

/* SIDE BAR STYLE */
.sidebar {
    height: calc(100% - var(--header-height) - var(--footer-height) - 2 * var(--sidebar-padding));
    width: var(--sidebar-width);
    position: fixed;
    top: var(--header-height);
    left: 0;
    overflow-x: hidden;
    border-right: 2px solid var(--secondary-background-color);
    padding: var(--sidebar-padding) 0;
    z-index: 1;
}
.sidebar a {
    display: block;
    padding: 6px 10px;
    color: var(--primary-color);
    font-size: 1.4em;
    text-decoration: none;
}
.sidebar a:hover {
  color: var(--accent-color);
}
.sidebar a .icon {
    position: absolute;
    right: 70%;
    width: 30%;
    text-align: center;
}
.sidebar a .text {
    position: relative;
    left: 30%;
}
.sidebar a:last-child .icon, .sidebar a:last-child .text{
    position: absolute;
    bottom: var(--sidebar-padding);
    color: var(--error-color);
}

/* MAIN STYLE */
main {
    margin-top: var(--header-height);
    margin-bottom: var(--footer-height);
}
main.main-sidebar {
    margin-left: var(--sidebar-width);
}

/* REGISTER STYLE */
.register-item, .login-item{
    display: block;
}