
/* TICKET PAGE STYLE */
.ticket-item {
    display: block;
    margin-bottom: 0.5em;
}
.ticket-item > .ticket-label {
    display: block;
    padding: 2px 1em;
}

.ticket-item > .ticket-box {
    display: inline-block;
    width: 30em;
    padding: 0.5em;
    border-radius: 2em;
    font-size: 1em;
    background-color: transparent;
    border: 2px solid var(--secondary-background-color);
}