@import url(include.css);

/* TICKET SYLE */
table#tickets {
    width: 100%;
    border-collapse: collapse;
}

table#tickets, table#tickets th, table#tickets td {
    position: relative;
}
table#tickets th {
    padding: 0.5em;
    text-align: left;
}
table#tickets td {
    min-width: 0;
    padding: 0.5em;
    overflow: hidden;
    border-top: 2px solid var(--secondary-background-color);
}
.ticket-resizer {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    cursor: col-resize;
    user-select: none;
    border-right: 2px solid var(--secondary-background-color);
}

.ticket-resizer:hover, .ticket-resizer.ticket-resizing {
    border-right: 2px solid var(--accent-color);
}

.ticket > td {
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    min-width: 0;
}

/* TICKET SUBMISSION*/
.add-ticket-item {
    display: block;
}

button#ticket-open-button {
    margin-top: 1em;
    padding: 1em;
    width: 100%;
    min-width: 15em;
    position: relative;
    right: 0;
}
.ticket-form {
    padding: 20px;
    margin: 0;
}
.ticket-form input[type=text], .ticket-form textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    border: 1px solid;
}
.ticket-form textarea {
    resize: none;
}

.ticket-form input[type=text]:focus, .ticket-form textarea:focus {
    background-color: var(--secondary-background-color);
    outline: none;
}

.add-ticket-item {
    color: black;
    font-weight: 500;
}
#department-dropdown {
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
    border: 1px solid;
}