@import url(include.css);

/* TICKET SUBMISSION*/

button#ticket-open-button {
    margin-top: 1em;
    padding: 1em;
    width: 100%;
    min-width: 15em;
    position: relative;
    right: 0;
}
